<template>
  <div class="products">

    <div v-for="(item) in products" :key="item.id" class="product">
      <div class="product-image">
        <img :src="item.src">
      </div>
      <div>
        <h4 class="product-title">
          <router-link :to="'/product/' + item.id">
            {{ item.item }}
          </router-link>
        </h4>
        <label>{{ item.price }}</label>
      </div>
    </div>
<div class="">Total : {{getTotal}}</div>
  </div>
</template>
<script setup>
import {useCart} from "../composables/cart";

const {getCart: products, getTotal} = useCart()

</script>
