<template>
  <div class="products">
    <form class="searchbar">
      <input v-model="search" placeholder="Пошук">
    </form>
    <div v-for="(item) in filteredItems" :key="item.id" class="product">
      <div class="product-image">
        <img :src="item.src">
      </div>
      <div>
        <h4 class="product-title">
          <router-link :to="'/product/' + item.id">
            {{ item.item }}
          </router-link>
        </h4>
        <label>{{ item.price }}</label>
        <button class="btn" @click="addItem(item)">Add to cart</button>
      </div>
    </div>

    <router-link to="/cart" class="mainLink">
      <h2>Cart</h2>
    </router-link>
  </div>
</template>
<script setup>
import products from '../data/products.js'
import {computed, onMounted, ref} from "vue";
import {useCart} from "../composables/cart";

const items = ref([])
const search = ref('')

const {addToCart: addItem} = useCart()
onMounted(() => {
  items.value.push(...products);
})

const filteredItems = computed(() => {
  if (!search.value) {
    return items.value;
  }
  return items.value.filter(element => {
    return element.item.toUpperCase().includes(search.value.toUpperCase());
  })
})
</script>
