<template>
    <div>
        <h2 v-if="product">
            This is page for product #{{ product.id }}: {{ product.item }}
        </h2>
        <h2 v-else>
            Product not found
        </h2>
        <div>
            <button v-on:click="addItem(product)" class="btn">Add to cart</button>
        </div>
    </div>
  <router-link to="/cart" class="mainLink">
    <h2>Cart</h2>
  </router-link>
</template>
<script setup>
    import products from '../data/products.js'
    import {onMounted, ref} from "vue";
    import {useCart} from "../composables/cart";

    const props = defineProps({id: String})

    const {addToCart: addItem} = useCart()
    
    const product = ref (null)

    onMounted(() => {
        product.value = products.find((item) => {
            return (item.id === Number(props.id));
        });
      console.log(product.value)
    })
</script>
